<%- include('header'); -%>
<% let data = passedData; %>
<% let webHourlyData = hourlyData; %>
<% let dailyData = dailyDataList; %>
<main>
    <section class="top">
        <section class="left">
            <!-- location search bar and color change button -->
            <nav>
                <!--------------- location search bar ------------------->
                <form action="/location" method="post">
                    <label for="city"><i class="fa-solid fa-location-dot"></i> <span>Search for cities</span></label>
                    <input type="text" name="city" id="location">
                </form>
                
                <div class="color-switch">
                    <div class="circle"></div>
                </div>
            </nav>
            
            
            <!--------------- weather details-short ------------------->
            <header>
                <article>
                    <h2><%= location %></h2>
                    <p><%= data.humidity %></p>
                    <h1><%= data.temp %><sup>o</sup></h1>
                    <p><%= data.hour %></p>
                </article>
                
                <img src="https://openweathermap.org/img/wn/<%= data.icon %>@2x.png" alt="Weather image">
            </header>


            <section class="hourly-weather">
                <h2>TODAY'S FORECAST</h2>
                <section>
                    <% for (let i = 0; i < webHourlyData.length; i++) { %>
                        <% let currentHour = webHourlyData[i] %>
                        <form action="/hour" method="post" class="hourly-form">
                            <% if (i === activeHour) { %>
                            <button type="submit" name="hour" value="<%=i%>" class="hour active-hour">
                            <% } else { %>
                            <button type="submit" name="hour" value="<%=i%>" class="hour">
                            <% } %>
                                <p><%= currentHour.hour %></p>
                                <img src="https://openweathermap.org/img/wn/<%= currentHour.icon %>@2x.png" alt="hourly-weather">
                                <p><%= currentHour.temp %><sup>o</sup></p>
                            </button>
                        </form>
                    <% } %>
                </section>
            </section>
        </section>


        <!--------------- weather days details ------------------->
        <section class="right">
            <h2>5-DAY FORECAST</h2>

            <% for (let i = 0; i < dailyData.length; i++) { %>
                <% let currentDay = dailyData[i] %>
                <form action="/day" method="post" class="day-form">
                    <% if (i === activeDay) { %>
                    <button type="submit" name="day" value="<%=i%>" class="day active-day">
                    <% } else { %>
                    <button type="submit" name="day" value="<%=i%>" class="day">
                    <% } %>
                        <p><%= currentDay.day %></p>
                        
                        <div>
                            <img src="https://openweathermap.org/img/wn/<%= currentDay.icon %>@2x.png" alt="day-weather-icon">
                            <p><%= currentDay.des %></p>
                        </div>

                        <p>
                            <span><%= currentDay.max %><sup>o</sup></span> / 
                            <span><%= currentDay.min %><sup>o</sup></span>
                        </p>
                    </button>
                </form>
            <% } %>
        </section>
    </section>
</main>

<%- include('footer'); -%>