<%- include('header'); -%>
<% let data = passedData; %>
<% let webHourlyData = hourlyData; %>
<% let dailyData = dailyDataList; %>
<main>
    <section class="top">
        <section class="left">
            <!-- location search bar and color change button -->
            <nav>
                <!--------------- location search bar ------------------->
                <form action="/location" method="post">
                    <input type="text" name="city" id="location" placeholder="Search for cities" autocomplete="off">
                    <label for="city"><i class="fa-solid fa-location-dot"></i></label>
                </form>

                <form action="/" method="post" class="refresh">
                    <button type="submit"><i class="fa-solid fa-arrows-rotate"></i> <span>Refresh</span></button>
                </form>
                
            </nav>
            
            
            <!--------------- weather details-short ------------------->
            <header>
                <article>
                    <h2><%= location %></h2>
                    <p>Humidity level: <%= data.humidity %></p>
                    <h1><%= data.temp %><sup>o</sup></h1>
                </article>
                
                <img src="assets/weather-icons/<%= data.icon %>.png" alt="Weather image">
            </header>


            <section class="hourly-weather">
                <h2>TODAY'S FORECAST</h2>
                <section>
                    <form action="/hour" method="post" class="hourly-form">
                        <% for (let i = 0; i < webHourlyData.length; i++) { %>
                            <% let currentHour = webHourlyData[i] %>
                                <% if (i === activeHour) { %>
                                <button type="submit" name="hour" value="<%=i%>" class="hour active-hour">
                                <% } else { %>
                                <button type="submit" name="hour" value="<%=i%>" class="hour">
                                <% } %>
                                    <p><%= currentHour.hour %></p>
                                    <img src="assets/weather-icons/<%=currentHour.icon%>.png" alt="hourly-weather     <%=currentHour.icon%>">
                                    <p><%= currentHour.temp %><sup>o</sup></p>
                                </button>
                        <% } %>
                    </form>
                </section>
            </section>
        </section>


        <!--------------- weather days details ------------------->
        <section class="right">
            <h2>5-DAY FORECAST</h2>

            <form action="/day" method="post" class="day-form">
                <% for (let i = 0; i < dailyData.length; i++) { %>
                    <% let currentDay = dailyData[i] %>
                        <% if (i == activeDay) { %>
                        <button type="submit" name="day" value="<%=i%>" class="day active-day">
                        <% } else { %>
                        <button type="submit" name="day" value="<%=i%>" class="day">
                        <% } %>
                            <p><%= currentDay.day %></p>
                            
                            <div>
                                <img src="assets/weather-icons/<%= currentDay.icon %>.png" alt="day-weather-icon">
                                <p><%= currentDay.des %></p>
                            </div>

                            <p>
                                <span><%= currentDay.max %><sup>o</sup></span> / 
                                <span><%= currentDay.min %><sup>o</sup></span>
                            </p>
                        </button>
                <% } %>
            </form>
        </section>
    </section>


    <section class="bottom">
        <section class="details">
            <h2>WEATHER CONDITIONS</h2>
            
            <article>
                <div>
                    <div>
                        <p class="heading"><i class="fa-solid fa-temperature-three-quarters"></i> <span>Feels Like<span></p>
                        <p class="value"><%= data.feelsLike %><sup>o</sup></p>
                    </div>
                    <div>
                        <p class="heading"><i class="fa-solid fa-droplet"></i> <span>Humidity Level</span></p>
                        <p class="value"><%= data.humidity %></p>
                    </div>
                </div>

                <div>
                    <div>
                        <p class="heading"><i class="fa-solid fa-cloud"></i> <span>Clouds</span></p>
                        <p class="value"><%= data.clouds %></p>
                    </div>
                    <div>
                        <p class="heading"><i class="fa-solid fa-eye"></i> <span>Visibility</span></p>
                        <p class="value"><%= data.visibility %></p>
                    </div>
                </div>

                <div>
                    <div>
                        <p class="heading"><i class="fa-solid fa-wind"></i> <span>Wind Speed</span></p>
                        <p class="value"><%= data.wind_speed %></p>
                    </div>
                    <div>
                        <p class="heading"><i class="fa-solid fa-gauge-high"></i> <span>Pressure</span></p>
                        <p class="value"><%= data.pressure %></p>
                    </div>
                </div>
            </article>
        </section>


        <section class="newsletter">
            <section class="upper-part">
                <article>
                    <h2>Subscribe to our <span>Newsletter</span></h2>
                    <p>
                        Weather Compass is our official newsletter. SUBSCRIBE NOW for get the latest news on your weather right inside your email as soon as possible.
                    </p>
                    <form action="/newsletter" method="post">
                        <input type="email" name="email" placeholder="Your email">
                        <button type="submit">Subscribe</button>
                    </form>
                </article>
                <div class="socials">
                    <a href="https://www.facebook.com/rakesh.karmaker.980" class="facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://github.com/Rakesh-6610" class="github" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.instagram.com/rakesh__karmaker/" class="insta" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/rakesh-karmaker-a15849322/" class="in" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </section>

            <p>© 2024 Weather Compass || All Rights Reserved</p>
        </section>
    </section>
</main>

<%- include('footer'); -%>